@charset "UTF-8";
@media screen and (max-width:768px) {

    div#area{
        width: 75%;
        margin: auto;
    }
    
    div#name{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    div#name .name{
        margin-top: 10px;
        width: 95%;
    }
    div#name input#email{
        width: 95%;
        height: 5vh;
        margin-left: 0px;
        margin-top: 10px;

    }
    div#atendimento div#grid {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .card{
        width: 100%;
    }

    div#atendimento div#rr{
        width: 97%;

        margin-top: 15px;
    }

    textarea#msg{
        height: 20vh;
    }

    input#env{
        width: 95%;
    }

}