@charset "UTF-8";
@media screen and (min-width:768px) and (max-width:992px) {

    div#area{
        width: 55%;
    }
    
    div#name{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    div#name .name{
        width: 365px;
    }

    div#atendimento div#grid {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    div#atendimento div#grid div#rr{
        width: 375px;

        margin-top: 15px;
    }

    textarea#msg{
        height: 20vh;
    }

    input#env{
        width: 350px;
    }

}